<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>

</head>
<body>
<div class="authors-index">
  <% @authors.each_slice(8) do |author| %>
    <div class="row">
      <% author.each do |author| %>
        <div class="col-md-3 col-sm-3">
          <h3><%= author.name%></h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</body>
</html>
