// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.books {
margin-top: 100px;
}
html, body{
  background-color: #deb887;
}
.navigation{
  color:black;
  font-size: x-large;
}
